@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORZAR PANTALLA COMPLETA Y FONDO OSCURO */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Adiós scrollbars dobles */
  background-color: #0f172a; /* Fondo Slate-900 (Azul oscuro profundo) */
  font-family: 'Segoe UI', system-ui, sans-serif;
  color: white;
}

/* Personalización del Scroll */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b; 
}
::-webkit-scrollbar-thumb {
  background: #dc2626; 
  border-radius: 4px;
}
